---
import { Image } from 'astro:assets'

import supBg from '@images/stock/bgImg2.jpg'

import special from '@images/stock/specialized.png'
import special2 from '@images/stock/ourEmployees.png'
import special3 from '@images/stock/specialized2.png'
import special4 from '@images/stock/fieldSupervisors2.png'


const t1 = 'Along with the listed array of security services, National 50 Security and Investigation, Inc. can provide, private investigation services that include civil process service, as well as criminal investigations, mobile and stationary surveillance capabilities and home and business protection with armed or unarmed personnel.'

const t2 = 'National 50 Security and Investigations, Inc. can also provide medically trained personnel i.e.: Licensed Paramedic Security Officers, CPR and Basic 1st First AID trained Officers.'

---
        
                {/* White Section - Mission Statement*/}
                <section class="relative bg-white px-4 py-60  lg:px-8">
                  <Image
                  src={supBg}
                  alt="description"
                  class="absolute inset-0 h-full w-full object-cover object-center  blur-md"
                />
                  <div class="mx-auto max-w-screen-md lg:max-w-screen-xl">
                    {/* Project description */}
                    <div class="relative mx-auto mt-6 flex w-full flex-wrap z-10">
                      <div class="grid grid-cols-2">
                        <div class="flex flex-col">
                          <div class="w-1/2 ml-0 pl-8 m-auto self-start fade-in-anim-left">
                            <Image
                              src={special}
                              alt='Our Employees'
                              class="h-auto rounded-3xl object-cover object-center shadow-xl"
                            />
                          </div>
                          <div class="relative w-1/2 ml-24 -mt-10 pl-8 m-auto self-center z-10 fade-in-anim-left">
                            <Image
                              src={special2}
                              alt='Our Employees'
                              class="h-auto  rounded-3xl object-cover object-center shadow-xl"
                            />
                          </div>
                          <div class="relative -mt-10 w-1/2 pl-8 m-auto self-center fade-in-anim-left">
                            <Image
                              src={special3}
                              alt='Our Employees'
                              class="h-auto rounded-3xl object-cover object-center shadow-xl"
                            />
                          </div>
                          <div class="relative -mt-10 mr-10 w-1/2 pl-8 m-auto self-center fade-in-anim-left">
                            <Image
                              src={special4}
                              alt='Our Employees'
                              class="h-auto rounded-3xl object-cover object-center shadow-xl"
                            />
                          </div>
                        </div>
                        <div class="mx-auto w-full place-content-center">
                          <div class="glass rounded-2xl p-8 fade-in-anim">
                            <div class="flex w-full mb-8">
                              <h1 class="text-3xl font-bold text-white">SPECIALIZED SERVICES</h1>
                            </div>
                            <p
                              class="mb-6 text-1xl font-normal tracking-tight text-white lg:leading-tight"
                            >
                              {t1.toUpperCase()}
                            </p>
                            <p
                              class="mb-6 text-1xl font-normal tracking-tight text-white lg:leading-tight"
                            >
                              {t2.toUpperCase()}
                            </p>
                            
                          </div>
                          
                        </div>
                        
                      </div>
                      
                    </div>
                  </div>
                </section>
        
                
        <style>
        
          .fade-in-anim-left {
            view-timeline: --subjectReveal block;
            animation-timeline: --subjectReveal;
          
            animation-name: fadein-left;
            animation-fill-mode: both;
            animation-duration: 1ms; /* Firefox requires this to apply the animation */
            animation-range: entry 25% cover 50% ;
          }
        
          .fade-in-anim-right {
            view-timeline: --subjectReveal block;
            animation-timeline: --subjectReveal;
          
            animation-name: fadein-right;
            animation-fill-mode: both;
            animation-duration: 1ms; /* Firefox requires this to apply the animation */
            animation-range: entry 25% cover 50% ;
          }
        
          .fade-in-anim-center {
            view-timeline: --subjectReveal block;
            animation-timeline: --subjectReveal;
          
            animation-name: fadein-center;
            animation-fill-mode: both;
            animation-duration: 1ms; /* Firefox requires this to apply the animation */
            animation-range: entry 15% cover 60% ;
          }
          .fade-in-anim {
            view-timeline: --subjectReveal block;
            animation-timeline: --subjectReveal;
          
            animation-name: fadein;
            animation-fill-mode: both;
            animation-duration: 1ms; /* Firefox requires this to apply the animation */
            animation-range: entry 25% cover 50% ;
          }
          
          @keyframes fadein-left {
          from {
            opacity: 0;
            transform: translateX(-300px);
          }
        
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }
        
        @keyframes fadein-right {
          from {
            opacity: 0;
            transform: translateX(300px);
          }
        
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }
        
        @keyframes fadein-center {
          from {
            opacity: 0;
            transform: translateY(40px);
            
          }
        
          to {
            opacity: 1;
            transform: translateY(0);
            
          }
        }
        
        @keyframes fadein {
          from {
            opacity: 0;
            transform: scale(0.5);
          }
        
          to {
            opacity: 1;
            transform: scale(1);
          }
        }
        
        
          
          </style>
        