---
import { Image } from 'astro:assets'
import Layout from '@layouts/Layout.astro'
import PrimaryButton from '@components/buttons/PrimaryButton.astro'
import TextField from '@components/contact/TextField.astro'
import SocialButton from '@components/buttons/SocialButton.astro'
import { SITE, SOCIALS } from '@config'

import supBg from '@images/stock/bgImg2.jpg'

const addresses = [
  {
    street: '23223 Arlington Avenue',
    city: 'Torrance',
    state: 'CA',
    zip: 90501,
    office: '310.838.2329',
    fax: '310.838.2985',
  },
]
---

<Layout
  title={`Contact us - ${SITE.title}`}
  description="Get in touch with our team to discuss how we can help bring your creative vision to life. Reach out to us for collaborative, innovative, and strategic web design and development services."
>
  <section class="relative px-4 py-12 sm:px-6 md:py-16 lg:px-8">
    <Image
          src={supBg}
          alt="description"
          class="absolute inset-0 h-full w-full object-cover object-center fade-in-anim-left"
        />
    <div class="relative mx-auto max-w-screen-xl z-10">
      <div class="grid lg:grid-cols-2 lg:gap-x-8 xl:gap-x-16">
        <div
          class="flex flex-col h-1/2 items-center justify-between glass p-10 rounded-2xl"
        >
          {/* Section header */}
          <div>
            <div
              class="mt-4 w-full text-left sm:text-center md:mt-5 lg:text-left"
            >
              <h1
                class="text-4xl font-extrabold text-white sm:text-5xl md:text-6xl"
              >
                Get in touch
              </h1>
              <p
                class="mx-auto mt-3 max-w-lg text-xl text-dark-300 sm:max-w-2xl md:mt-5"
              >
                We'd love to hear from you. Fill in the form and we'll get back
                to you shortly.
              </p>
            </div>
          </div>
          {/* Company locations */}
          <div
            class="mt-4 grid gap-6  sm:grid-cols-2 sm:grid-rows-2 sm:gap-12 "
          >
            {
              addresses.map((address) => (
                <div>
                  <h5 class="text-lg font-bold text-white">{address.city}</h5>
                  <p class="mt-1 text-base text-dark-300">
                    {address.street}
                    <br />
                    {`${address.city}, ${address.state} ${address.zip} `}
                    <br />
                    Office: {`${address.office} `}
                    <br />
                    Fax: {`${address.fax} `}
                  </p>
                </div>
              ))
            }
          </div> 
        </div>
        {/* Contact form card */}
        <div class="mt-12 w-full lg:mt-0">
          <div
            class="mx-auto w-full rounded-3xl bg-white px-4 py-12 shadow-xl sm:p-16 lg:ml-auto lg:mr-0 lg:p-14 xl:p-16"
          >
            {/* Contact form */}
            <form action="#" class="space-y-6">
              <TextField
                name="name"
                label="Name *"
                placeholder="John Doe"
                required
              />
              <TextField
                name="email"
                label="Email *"
                type="email"
                autocomplete="email"
                placeholder="john@email.com"
                required
              />
              <TextField
                label="Phone"
                name="phone"
                type="tel"
                autocomplete="tel"
                placeholder="+1 (800) 123-4567"
              />
              <TextField
                label="Message *"
                name="message"
                elementType="textarea"
                placeholder="Tell us how we can help you..."
                required
              />
              <div class="mt-6 flex justify-start">
                <PrimaryButton type="submit">Send message</PrimaryButton>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
