---
import { Image } from 'astro:assets'
import HomeHero from '@components/home/HomeHero.astro'

import ContactForm from '@components/shared/ContactForm.astro'
import BlueSimple from '@components/shared/BlueSimple.astro'
import ServicesList from '@components/home/ServicesList.astro'
import { SITE } from '@config'
import HomeLayout from '@layouts/HomeLayout.astro'
import ServicesListBlue from '@components/home/ServicesListBlue.astro'

import video2 from '@video/MainSlideShow_4.mp4'
import video3 from '@video/MainSlideShow_1.mp4'

import bgImage1 from '@images/stock/bgImg1.jpg'
import bgImage2 from '@images/stock/light-bg.png'
import bgImage3 from '@images/stock/investigative.jpg'
import commandBg from '@images/stock/commandBg.png'
---

<HomeLayout
  title={`${SITE.title} - A dominant provider of a wide array of security and safety services`}
>
  <HomeHero />
  <ContactForm />


{/* Blue Section Mission Statement - animated */}
  <section class="bg-dark-900 pb-10  md:pb-12 ">
    <div class="mx-auto w-full max-w-screen-xl mt-12 space-y-12 lg:mt-16 lg:space-y-56 lg:pb-24">
          <div
            class="relative mx-auto max-w-lg lg:mx-0 lg:max-w-none"
          >
            <div
              class='left-40 relative h-64 w-full rounded-t-3xl bg-cover bg-center shadow-xl lg:h-full lg:w-[90%] lg:rounded-3xl lg:pt-[46%] fade-in-anim-right'
            >
              <Image
                src={bgImage1}
                alt='descript'
                class="absolute inset-0 h-full w-full rounded-t-3xl object-cover object-center lg:rounded-3xl"
              /> 
              
            </div>
            <div
              class:list={[
                'relative bottom-0 z-20 block h-auto w-full rounded-b-3xl bg-white p-6 shadow-xl sm:p-8 lg:absolute lg:-bottom-25 lg:h-full lg:w-2/3 lg:rounded-3xl lg:p-12 fade-in-anim-left',
              ]}
            >
              <div class="h-full lg:flex lg:flex-col lg:justify-between">
                <div class="flex w-full flex-wrap">
                  <h3 class="text-3xl font-bold text-dark-900 lg:text-4xl">
                    Mission Statement
                  </h3>
                  <p class="mb-6 text-lg font-normal tracking-tight text-dark-900 lg:leading-tight fade-in-anim-center">
                    National 50 Security and Investigations Inc. is a dominant provider
            of a wide array of security and safety services in each of the
            markets in which we compete.
                  </p>
                  <p class="mb-6 text-lg font-normal tracking-tight text-dark-900 lg:leading-tight fade-in-anim-center">
                    We are a satisfaction-driven company. Our mission is to be a reliable,
dependable full-service security organization whose top priority is the
total satisfaction of our clients. Our wish and what we strive for are to be
recognized as a professional, superior performing company whose
clients and property are protected.
                  </p>
                  <p class="mb-6 text-lg font-normal tracking-tight text-dark-900 lg:leading-tight fade-in-anim-center">
                    All Security Officers are trained by the State to “Protect the
            Clients” and their “Property”. With National 50 Security, it's not
            just a sales slogan, we do what we promise.
                  </p>
                  <p class="mb-6 text-lg font-normal tracking-tight text-dark-900 lg:leading-tight fade-in-anim-center">
                    We pledge to do our very best to build and strengthen the
            partnerships which our business is based:
                  </p>
                  <p class="mb-6 text-lg font-normal tracking-tight text-dark-900 lg:leading-tight fade-in-anim-center">
                    - Partnerships with our customers, whose loyalty has brought
            longevity and success. <br>
                    - Partnerships with our employees, whose dedication has built the
            company. <br>
                    - Belief in creating secure communities.
                  </p>
                  <p class="mb-6 text-lg font-normal tracking-tight text-dark-900 lg:leading-tight fade-in-anim-center">
                    For more information, please contact one of our knowledgeable staff
            members listed on the contact page within this website. We look
            forward to working with you!
                  </p>
                </div>            
              </div>
            </div>
          </div>
    </div>
    </section>

  {/* White Section- Investigative*/}
  <section class="bg-white px-4 sm:px-6 md:py-40 lg:px-8 ">
      
    <div class="mx-auto max-w-screen-md lg:max-w-screen-xl ">
      <div class="flex w-full justify-center">
        <h1 class="mb-16 text-3xl font-bold text-dark-900 fade-in-anim-center ">INVESTIGATIVE SERVICES</h1>
      </div>
      {/* Project description */}
      <div class="mx-auto mt-6 w-full flex-wrap grid grid-cols-3">
        <div class="mx-auto w-full col-span-2 pr-8 ">
          <p
            class="mb-6 text-xl font-normal tracking-tight text-dark-900 lg:leading-tight fade-in-anim-center"
          >
            The National 50 Security office is staffed with professional state- licensed investigators. All our investigators have prior law
            enforcement experience and oversee each individual investigation
            assignment. The investigator controls the needed manpower and the
            case budget.
          </p>
          <p
            class=" mb-6 text-xl font-normal tracking-tight text-dark-900 lg:leading-tight fade-in-anim-center"
          >
            Our investigative assignments are civil only. We refrain from
            becoming involved in criminal matters. From civil cases to personal
            matters, our investigators will review the case and meet with the
            prospective client to glean needed information and to approximate
            the expenses that a client may incur.
          </p>
          <p
            class="mb-6 text-xl font-normal tracking-tight text-dark-900 lg:leading-tight fade-in-anim-center"
          >
          As with any work we perform,<span class="font-bold" > we are fully licensed and insured.</span>
          </p>
          
        </div>
        <div
        class="relative h-64 w-full rounded-t-3xl bg-cover bg-center shadow-xl lg:h-full fade-in-anim-center">
        <Image
          src={bgImage3}
          alt="descrip"
          class="absolute inset-0 h-full w-full rounded-t-3xl object-cover object-center lg:rounded-3xl"
        />
        
      </div>
      </div>
    </div>
  </section>

  <div class="hero relative flex items-center justify-center overflow-hidden" >
    <video
      autoplay
      loop
      muted
      class="absolute w-auto min-w-full min-h-full max-w-none"
    >
      <source
        src={video2}
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
    <div class="hero-content text-center text-neutral-content py-32 h-[700px]">
      
    </div>
  </div>
  {/* Blue Section Command and Control*/}
  <section class="bg-dark-900 grid grid-cols-2">
    <div class="relative">
    <Image
          src={commandBg}
          alt="description"
          class="absolute inset-0 h-full w-full object-cover object-center fade-in-anim-left"
        />
      </div>
    <div class="p-16 relative z-10 ">
      <div class="flex w-full justify-center">
        <h1 class="text-3xl font-bold text-white fade-in-anim-right ">
          COMMAND AND CONTROL, DISPATCH, COMMUNICATION AND MONITORING
        </h1>
      </div>
      {/* Project description */}
      <div class="mx-auto mt-6 flex w-full flex-wrap">
        <div class="mx-auto w-full">
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight fade-in-anim-right"
          >
            This office provides dedicated and trained professional security
            personnel in all areas under the above heading. Our personnel are
            experienced officers that can operate, control, monitor, and perform various functions. from simple monitoring to responding to complete command
            and control centers, which can dispatch, monitor, record and store
            data and control from a single central location. Officers are
            trained in a variety of monitoring and recording equipment, as well
            as communications equipment, devices and procedures. Officers are
            trained and schooled in crises situations, including such emergencies as fire and or earthquake evacuations. Procedures and protocols that range from local security command and control to
            notifications and assistance to police, fire, medical and first
            responders.
          </p>
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight fade-in-anim-right"
          >
            Whether it is a dispatch center, camera monitoring assignment or the
            solitary security officer on a post, they all have one thing in
            common, 24-7-365 communication. Every employee has the availability
            of communication at any time that they are on duty, via radio or
            cellular phone. Their supervisors, and in some cases, their clients,
            are available at all times if so needed or notifications need to be
            made. In turn supervisors are able to contact management if needed
            anytime. Clients may contact the security officer, the supervisor or
            management at anytime.
          </p>
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight fade-in-anim-right"
          >
          Needless to say, communication is critical in the security business. Communications in written form, i.e; DAR’s (daily activity report) and incident reports are submitted daily
          </p>
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight fade-in-anim-right"
          >
            Whatever your needs are, National 50 Security will assist you in your threat analysis and provide you with a security plan tailored to your specific needs.
          </p>
        </div>
      </div>
    </div>
  </section>

  <ServicesList />
  <ServicesListBlue />

    {/* White Section- National 50 security ans investigations inc*/}
    <section class="hero relative flex items-center justify-center overflow-hidden py-40">
      <video
      autoplay
      loop
      muted
      class="absolute w-auto min-w-full min-h-full max-w-none"
    >
      <source
        src={video3}
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
    <div class="mx-auto w-full justify-center z-10">
      <div class="py-8 z-10">
        <div class="mx-auto w-full max-w-4xl bg-white/60 rounded-3xl p-8">
          <h1 class="text-3xl font-bold text-dark-900 text-center mb-2 drop-shadow-lg">NATIONAL 50 SECURITY AND INVESTIGATIONS INC.</h1>
          <p
            class="text-1xl mb-6 text-justify font-normal tracking-tight text-dark-900 drop-shadow-lg lg:leading-tight"
          >
          PROVIDES SUPERVISION OF SECURITY OFFICERS AT NO ADDITIONAL COST.WE WILL DESIGNATE SUPERVISORY PERSONNEL TO EACH CLIENT AND AVAILABLE TO THE CLIENT ANYTIME SECURITY SERVICES ARE PROVIDED, SUPERVISORS ARE RESPONSIBLE FOR REPORTING AND CONFERRING WITH REPRESENTATIVES OF THE CLIENT WITH RESPECT TO THE SERVICES RENDERED. OUR CLIENTS CAN CONTACT SUPERVISORY PERSONNEL AT ANY TIME, 24 HOURS A DAY.
          </p>
        </div>
      </div>
    </div>
      
    </section>
  

</HomeLayout>



<style>

  .fade-in-anim-left {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein-left;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50% ;
  }

  .fade-in-anim-right {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein-right;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50% ;
  }

  .fade-in-anim-center {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein-center;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 15% cover 60% ;
  }
  .fade-in-anim {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50% ;
  }
  
  @keyframes fadein-left {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-center {
  from {
    opacity: 0;
    transform: translateY(40px);
    
  }

  to {
    opacity: 1;
    transform: translateY(0);
    
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


  
  </style>
