---
import { Image } from 'astro:assets'
import Icon from 'astro-icon'
import PrimaryButton from '@components/buttons/PrimaryButton.astro'
import SecondaryButton from '@components/buttons/SecondaryButton.astro'

import Offduty from '@images/stock/offDuty.png'
import Personal from '@images/stock/bodyguard.jpg'
import Patrol from '@images/stock/MobileSecurityUnits.png'
import Alarm from '@images/stock/ThreatAnalysis&EvaluationExperts.png'
import Executive from '@images/stock/agent.jpg'
import K9 from '@images/stock/k9.jpg'
import Plain from '@images/stock/plain.jpg'
import Security from '@images/stock/values.jpg'
import Investigative from '@images/stock/InvestigativeServices.png'
import Staffing from '@images/stock/special.jpg'
import Entertainment from '@images/stock/services/locations.jpg'
import Dispatchers from '@images/stock/dispatcher.jpg'
import bgImage from '@images/stock/bgImg2.jpg'
---

<section class="relative bg-dark-900">
  <div class="bg-black/50 absolute w-full h-full z-[2]"></div>
  <Image
    src={bgImage}
    alt="description"
    class="fade-in-anim-left absolute inset-0 h-full w-full object-cover object-center"
  />

  <div class="relative py-16 z-[3]">
    <h3 class="mb-2 text-center text-2xl font-bold text-white drop-shadow-lg">
      IN ADDITION TO OFFERING ARMED AND UNARMED SECURITY OFFICERS, NATIONAL 50
      SECURITY ANS INVESTIGATIONS, INC. <br />
       ALSO OFFERS SERVICES IN THE FOLLOWING AREAS
    </h3>
  </div>
  {/* First Row */}
  <div
    class="relative fade-in-anim mx-auto mb-8 grid max-w-screen-md grid-cols-4 gap-8 lg:max-w-screen-xl z-[3]"
  >
    <div class="flex flex-col rounded-2xl bg-white">
      <figure class="w-40s relative h-56 rounded-2xl">
        <Image
          src={Offduty}
          alt="description"
          class="absolute inset-0 h-full w-full rounded-t-2xl object-cover object-center"
        />
      </figure>
      <h4 class="text-normal mt-3 pb-2 text-center font-bold text-dark-900">
        OFF-DUTY POLICE OFFICERS
      </h4>
    </div>
    <div class="flex flex-col rounded-2xl bg-white">
      <figure class="w-40s relative h-56 rounded-2xl">
        <Image
          src={Personal}
          alt="description"
          class="absolute inset-0 h-full w-full rounded-t-2xl object-cover object-center"
        />
      </figure>
      <h4 class="text-normal mt-3 pb-2 text-center font-bold text-dark-900">
        PERSONAL BODY GUARDS
      </h4>
    </div>
    <div class="flex flex-col rounded-2xl bg-white">
      <figure class="w-40s relative h-56 rounded-2xl">
        <Image
          src={Patrol}
          alt="description"
          class="absolute inset-0 h-full w-full rounded-t-2xl object-cover object-center"
        />
      </figure>
      <h4 class="text-normal mt-3 pb-2 text-center font-bold text-dark-900">
        PATROL SERVICES
      </h4>
    </div>
    <div class="flex flex-col rounded-2xl bg-white">
      <figure class="w-40s relative h-56 rounded-2xl">
        <Image
          src={Alarm}
          alt="description"
          class="absolute inset-0 h-full w-full rounded-t-2xl object-cover object-center"
        />
      </figure>
      <h4 class="text-normal mt-3 pb-2 text-center font-bold text-dark-900">
        ALARM RESPONSE
      </h4>
    </div>
  </div>
  {/* Second Row */}
  <div
    class="relative fade-in-anim mx-auto mb-4 grid max-w-screen-md grid-cols-4 gap-8 lg:max-w-screen-xl z-[3]"
  >
    <div class="flex flex-col rounded-2xl bg-white">
      <figure class="w-40s relative h-56 rounded-2xl">
        <Image
          src={Executive}
          alt="description"
          class="absolute inset-0 h-full w-full rounded-t-2xl object-cover object-center"
        />
      </figure>
      <h4 class="text-normal mt-3 pb-2 text-center font-bold text-dark-900">
        EXECUTIVE PROTECTION
      </h4>
    </div>
    <div class="flex flex-col rounded-2xl bg-white">
      <figure class="w-40s relative h-56 rounded-2xl">
        <Image
          src={K9}
          alt="description"
          class="absolute inset-0 h-full w-full rounded-t-2xl object-cover object-center"
        />
      </figure>
      <h4 class="text-normal mt-3 pb-2 text-center font-bold text-dark-900">
        K-9 UNIT
      </h4>
    </div>
    <div class="flex flex-col rounded-2xl bg-white">
      <figure class="w-40s relative h-56 rounded-2xl">
        <Image
          src={Plain}
          alt="description"
          class="absolute inset-0 h-full w-full rounded-t-2xl object-cover object-center"
        />
      </figure>
      <h4 class="text-normal mt-3 pb-2 text-center font-bold text-dark-900">
        PLAINCLOTHES/UNDERCOVER STAFF
      </h4>
    </div>
    <div class="flex flex-col rounded-2xl bg-white">
      <figure class="w-40s relative h-56 rounded-2xl">
        <Image
          src={Security}
          alt="description"
          class="absolute inset-0 h-full w-full rounded-t-2xl object-cover object-center"
        />
      </figure>
      <h4 class="text-normal mt-3 pb-2 text-center font-bold text-dark-900">
        SECURITY AND OTHER SPECIALIZED CONSULTATIONS
      </h4>
    </div>
  </div>
  {/* Thirth Row */}
  <div
    class="relative fade-in-anim mx-auto grid max-w-screen-md grid-cols-4 gap-8 pb-16 lg:max-w-screen-xl z-[3]"
  >
    <div class="flex flex-col rounded-2xl bg-white">
      <figure class="w-40s relative h-56 rounded-2xl">
        <Image
          src={Investigative}
          alt="description"
          class="absolute inset-0 h-full w-full rounded-t-2xl object-cover object-center"
        />
      </figure>
      <h4 class="text-normal mt-3 pb-2 text-center font-bold text-dark-900">
        INVESTIGATIVE SERVICES
      </h4>
    </div>
    <div class="flex flex-col rounded-2xl bg-white">
      <figure class="w-40s relative h-56 rounded-2xl">
        <Image
          src={Staffing}
          alt="description"
          class="absolute inset-0 h-full w-full rounded-t-2xl object-cover object-center"
        />
      </figure>
      <h4 class="text-normal mt-3 pb-2 text-center font-bold text-dark-900">
        STAFFING FOR SPECIAL EVENTS
      </h4>
    </div>
    <div class="flex flex-col rounded-2xl bg-white">
      <figure class="w-40s relative h-56 rounded-2xl">
        <Image
          src={Dispatchers}
          alt="description"
          class="absolute inset-0 h-full w-full rounded-t-2xl object-cover object-center"
        />
      </figure>
      <h4 class="text-normal mt-3 pb-2 text-center font-bold text-dark-900">
        DISPATCHERS & COMMUNICATION SPACIALISTS
      </h4>
    </div>
    <div class="flex flex-col rounded-2xl bg-white">
      <figure class="w-40s relative h-56 rounded-2xl">
        <Image
          src={Entertainment}
          alt="description"
          class="absolute inset-0 h-full w-full rounded-t-2xl object-cover object-center"
        />
      </figure>
      <h4 class="text-normal mt-3 pb-2 text-center font-bold text-dark-900">
        ENTERTEINMENT VENUES
      </h4>
    </div>
  </div>
</section>

<style>
  .fade-in-anim-left {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;

    animation-name: fadein-left;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50%;
  }

  .fade-in-anim-right {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;

    animation-name: fadein-right;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50%;
  }

  .fade-in-anim-center {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;

    animation-name: fadein-center;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50%;
  }
  .fade-in-anim {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;

    animation-name: fadein;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50%;
  }

  @keyframes fadein-left {
    from {
      opacity: 0;
      transform: translateX(-40px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadein-right {
    from {
      opacity: 0;
      transform: translateX(40px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadein-center {
    from {
      opacity: 0;
      transform: translateY(40px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
      transform: scale(0.5);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }
</style>
