---
import { Image } from 'astro:assets'
import Icon from 'astro-icon'
import PrimaryButton from '@components/buttons/PrimaryButton.astro'
import SecondaryButton from '@components/buttons/SecondaryButton.astro'

import Offduty from '@images/stock/list-02.jpg'
import Personal from '@images/stock/bodyguard.jpg'
import Patrol from '@images/stock/MobileSecurityUnits.png'
import Alarm from '@images/stock/ThreatAnalysis&EvaluationExperts.png'
import Executive from '@images/stock/agent.jpg'
import K9 from '@images/stock/k9.jpg'
import Plain from '@images/stock/plain.jpg'
import Security from '@images/stock/values.jpg'
import Investigative from '@images/stock/InvestigativeServices.png'
import Staffing from '@images/stock/special.jpg'
import Entertainment from '@images/stock/services/locations.jpg'
import Dispatchers from '@images/stock/dispatcher.jpg'
import herobg from '@images/stock/hero-bg.jpg'
---

<section class="bg-dark-900 py-16">
  <h3 class="text-white text-center mt-8 pb-8 fade-in-anim-center">
    IN ADDITION TO OFFERING ARMED AND UNARMED SECURITY OFFICERS, NATIONAL 50
    SECURITY ANS INVESTIGATIONS, INC. <br />
     ALSO OFFERS SERVICES IN THE FOLLOWING AREAS
  </h3>
  {/* First Row */}
  <div
    class="mx-auto grid max-w-screen-md grid-cols-4 gap-8 lg:max-w-screen-xl mb-8 fade-in-anim" 
  >
    <div class="flex flex-col">
      <figure class="w-40s relative h-56">
        <Image
          src={Offduty}
          alt="description"
          class="absolute inset-0 h-full w-full object-cover object-center"
        />
        
      </figure>
      <h4 class="text-center mt-3 text-normal text-white">OFF-DUTY POLICE OFFICERS</h4>
    </div>
    <div class="flex flex-col">
      <figure class="w-40s relative h-56">
        <Image
          src={Personal}
          alt="description"
          class="absolute inset-0 h-full w-full object-cover object-center"
        />
        
      </figure>
      <h4 class="text-center mt-3 text-normal text-white">PERSONAL BODY GUARDS</h4>
    </div>
    <div class="flex flex-col">
      <figure class="w-40s relative h-56">
        <Image
          src={Patrol}
          alt="description"
          class="absolute inset-0 h-full w-full object-cover object-center"
        />
        
      </figure>
      <h4 class="text-center mt-3 text-normal text-white">PATROL SERVICES</h4>
    </div>
    <div class="flex flex-col">
      <figure class="w-40s relative h-56">
        <Image
          src={Alarm}
          alt="description"
          class="absolute inset-0 h-full w-full object-cover object-center"
        />
        
      </figure>
      <h4 class="text-center mt-3 text-normal text-white">ALARM RESPONSE</h4>
    </div>
  </div>
  {/* Second Row */}
  <div
    class="mx-auto grid max-w-screen-md grid-cols-4 gap-8 lg:max-w-screen-xl mb-4 fade-in-anim"
  >
    <div class="flex flex-col">
      <figure class="w-40s relative h-56">
        <Image
          src={Executive}
          alt="description"
          class="absolute inset-0 h-full w-full object-cover object-center"
        />
        
      </figure>
      <h4 class="text-center mt-3 text-normal text-white">EXECUTIVE PROTECTION</h4>
    </div>
    <div class="flex flex-col">
      <figure class="w-40s relative h-56">
        <Image
          src={K9}
          alt="description"
          class="absolute inset-0 h-full w-full object-cover object-center"
        />
        
      </figure>
      <h4 class="text-center mt-3 text-normal text-white">K-9 UNIT</h4>
    </div>
    <div class="flex flex-col">
      <figure class="w-40s relative h-56">
        <Image
          src={Plain}
          alt="description"
          class="absolute inset-0 h-full w-full object-cover object-center"
        />
        
      </figure>
      <h4 class="text-center mt-3 text-normal text-white">PLAINCLOTHES/UNDERCOVER STAFF</h4>
    </div>
    <div class="flex flex-col">
      <figure class="w-40s relative h-56">
        <Image
          src={Security}
          alt="description"
          class="absolute inset-0 h-full w-full object-cover object-center"
        />
        
      </figure>
      <h4 class="text-center mt-3 text-normal text-white">SECURITY AND OTHER SPECIALIZED CONSULTATIONS</h4>
    </div>
  </div>
  {/* Thirth Row */}
  <div
    class="mx-auto grid max-w-screen-md grid-cols-4 gap-8 lg:max-w-screen-xl fade-in-anim"
  >
    <div class="flex flex-col">
      <figure class="w-40s relative h-56">
        <Image
          src={Investigative}
          alt="description"
          class="absolute inset-0 h-full w-full object-cover object-center"
        />
        
      </figure>
      <h4 class="text-center mt-3 text-normal text-white">INVESTIGATIVE SERVICES</h4>
    </div>
    <div class="flex flex-col">
      <figure class="w-40s relative h-56">
        <Image
          src={Staffing}
          alt="description"
          class="absolute inset-0 h-full w-full object-cover object-center"
        />
        
      </figure>
      <h4 class="text-center mt-3 text-normal text-white">STAFFING FOR SPECIAL EVENTS</h4>
    </div>
    <div class="flex flex-col">
      <figure class="w-40s relative h-56">
        <Image
          src={Dispatchers}
          alt="description"
          class="absolute inset-0 h-full w-full object-cover object-center"
        />
        
      </figure>
      <h4 class="text-center mt-3 text-normal text-white">DISPATCHERS & COMMUNICATION SPACIALISTS</h4>
    </div>
    <div class="flex flex-col">
      <figure class="w-40s relative h-56">
        <Image
          src={Entertainment}
          alt="description"
          class="absolute inset-0 h-full w-full object-cover object-center"
        />
        
      </figure>
      <h4 class="text-center mt-3 text-normal text-white">ENTERTEINMENT VENUES</h4>
    </div>
  </div>
</section>


<style>

  .fade-in-anim-left {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein-left;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50% ;
  }

  .fade-in-anim-right {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein-right;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50% ;
  }

  .fade-in-anim-center {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein-center;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50% ;
  }
  .fade-in-anim {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50% ;
  }
  
  @keyframes fadein-left {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-center {
  from {
    opacity: 0;
    transform: translateY(40px);
    
  }

  to {
    opacity: 1;
    transform: translateY(0);
    
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


  
  </style>